.addadmin{
  background-image: linear-gradient(
    43deg,
    orange 0%,
    orangered 0%,
    #ffcc70 100%
  );
    
}


.addadmin h1 {
    background-color: orangered;
    align-items: center;
    text-align: center;
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .addadmin h2 {
    
    text-align: center;
    align-items: center;
  }
  
  .addadmin  .generate-id {
    font-size: 30px;
    background-color: rgb(252, 187, 67);
    color: #fffbf0;
    border: none;
    border-radius: 2em;
    width: 20%;
    position: absolute;
    right: 60px;
    bottom: 100px;
    transition: 0.3s ease;
  }
  
  .addadmin .generate-id:hover {
    background-color: rgb(132, 214, 9);
    opacity: 0.8;
  }
  
  .addadmin .exit {
    font-size: 30px;
    background-color: rgb(243, 90, 90);
    color: #fffbf0;
    border: none;
    border-radius: 2em;
    width: 13%;
    
    right: 60px;
    top: 20px;
    transition: 0.3s ease;
  }
  
  .addadmin .exit:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: rgb(236, 95, 29);
  
  }

  .description label{
    padding: 12px 20px;
    width: 40%;
    font-size: 25px;
    display: block;
    border: 1px solid orange;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    background-color: #fbbc95;
    background-image: linear-gradient(315deg, #fff1e8 0%, #f37a2f 74%);
    margin-left: 30%;
  }
  
  .description input[type=text] {
    width: 40%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    margin-left: 30%;
    text-align: center;
  }
  .description input[type=password] {
    width: 40%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    margin-left: 30%;
    text-align: center;
    background-color: rgb(255, 241, 116);
  }

  .submit{
    width: 220px;
    background-color: orangered;
    margin-top: 1%;
    font-size: 25px;
    border-radius: 2em;
    margin-left: 65%;
  }

  .submit:hover{
    background-color: greenyellow;
  }

  
  .adminform{
    background-image: linear-gradient(
      43deg,
      orange 0%,
      orangered 0%,
      #ffcc70 100%
    );
  }

  .invalid{
    font-size: 17px;
    font-style: bold;
    color: red;
    margin-left: 1%;
  }

textarea{
    width: 40%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    margin-left: 30%;
    text-align: center;
    
}

select{
  width: 40%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    margin-left: 30%;
    text-align: center;
}